<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>TwiMon</title>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="game.ejs"></script>
    </head>
    <body>
        <script>
            var socket = io();
        </script>
    </body>
</html>
